<footer class="footer">
    <div class="footer-inner">
        <div class="top">
            <a href="#" class="f-logo">
                <img src="/static/images/footer-logo.png" alt="star">
            </a>
            <ul class="menu">
                <li>
                    <a href="#">FAQ</a>
                </li>
                <li>
                    <a href="#">이용약관</a>
                </li>
                <li>
                    <a href="#">개인정보처리방침</a>
                </li>
                <li>
                    <a href="#">서비스소개</a>
                </li>
                <li>
                    <a href="#">공지사항</a>
                </li>
        </div>
        <div class="bottom">
            <dl class="addr">
                <div class="address">
                    <dt>법인명:</dt>
                    <dd>제네시스</dd>
                    <span>|</span>
                    <dt>사업자 등록번호:</dt>
                    <dd>000-0000-0000</dd>
                    <span>|</span>
                    <dt>사업자 정보확인</dt>
                    <dd></dd>
                    <span>|</span>
                    <dt>대표이사:</dt>
                    <dd>김동아</dd>
                </div>
            </dl>
            <dl class="addr">
                <div class="address">
                    <dt>통신판매업 신고번호:</dt>
                    <dd>제2024-지구어디-692호</dd>
                    <span>|</span>
                    <dt>개인정보보호책임:</dt>
                    <dd>허태영</dd>
                </div>
            </dl>
            <dl class="addr">
                <div class="address">
                    <dt>주소:</dt>
                    <dd>경기도 파주시 헤이리마을 석경님집</dd>
                    <span>|</span>
                    <dt>고객센터:</dt>
                    <dd>경호님께 전화하세요</dd>
                </div>
            </dl>
            <p>&copy; 2024 Yoo Jin... 무단 크롤링 금지</p>
        </div>
       
    </div>
</footer>