@charset "utf-8";
@import url(../common/common.css);
*{
    box-sizing: border-box;
}
body,h1,h2,h3,ul,dl,dd,p{
    margin:0;
    padding:0;
   
}

ul,ol{
    list-style:none;
}
html,body{
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6{
    font-size:inherit;
    font-weight: inherit;
}

a{
    color:inherit;
    text-decoration: none;
}
footer {
    width: 100%;
}