contents<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/common/header.css" />
    <link rel="stylesheet" href="/static/styles/common/footer.css" />
    <link rel="stylesheet" href="/static/styles/post/postEdit.css" />
    <link rel="stylesheet" href="/static/styles/common/reset.css" />
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script
      src="https://kit.fontawesome.com/5a10cda3a0.js"
      crossorigin="anonymous"
    ></script>

    <title>Document</title>
  </head>

  <body>
    <div class="page-container">
      <%- include('../_layouts/header') %>

      <div class="content">
        <div class="detail-category">
          <h2 class="category-title">카테고리</h2>
          <div class="profile-bar">
            <div class="detail-profile">
              <!-- 프로필 더미 2배 키움 -->
              <i class="fa-solid fa-user fa-2x"></i>
            </div>
            <div class="detail-user">
              <div class="detail-nickName">닉네임</div>
              <div class="detail-date">등록날짜</div>
            </div>
          </div>
          <div class="tool"></div>
        </div>

        <form class="contents-container" action="api/posts/<%= post.postId %>">
          <div class="contents-title">
            <input
              class="title-input"
              type="text"
              value="전에 쓴거 전에 쓴거 id 가져와서 제목 불러오기"
            />
          </div>

          <div class="contents">
            <input
              class="contents-input"
              type="text"
              value="전에 쓴거 id 가져와서 내용 불러오기"
            />

            <div class="save-bar">
              <button type="submit" class="save">저장</button>
            </div>
          </div>
        </form>
      </div>

      <footer><%- include('../_layouts/footer') %></footer>
      <script>
        /** 글을 생성해온다 */
        const url = window.location.pathname;
        const postId = url.split("/").pop();

        const savePost = async () => {
          const title = $(".title-input").val();
          const content = $(".contents-input").val();

          const res = await fetch(`api/posts/${postId}`, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ title, content }),
          });
        };
        const data = await res.json()
        




        const [cookies] = useCookies(["accessToken"]);

        const handleComment = () => {
          if (!cookies.accessToken) {
            alert("로그인필요");
            return;
          }
        };
        $(document).ready(function () {
          $(".hamburger-bar").click(function () {
            $("#menu, .page_cover").addClass("open");
          });

          $(".page_cover, .close").click(function () {
            $("#menu, .page_cover").removeClass("open");
          });
        });
      </script>
    </div>
  </body>
</html>
