.detail-category { margin-top: 100px; padding: 0 0 0px 24px; max-width: 1280px; width: 100%; margin: 100px auto 0 auto; } 
.category-title { font-weight: 700; font-size: 18px; margin-bottom: 15px; padding-left: 7px; } 
.profile-bar { display: flex; align-items: center;
 margin: 0 auto; } 
.detail-profile i { border-radius: 50%; background-color: rgb(214, 214, 214); width: 50px; height: 50px; display: flex; justify-content: center; align-items: center; } 
.detail-user { margin-left: 20px; font-size: 13px; color: rgb(1, 1, 1); } 
.detail-nickName { margin-bottom: 8px; } 
.tool { max-width: 1280px; width: 96%; gap: 5px; display: flex; justify-content: end; } 
.tool-button { border-radius: 5px; border: none; outline: none; padding: 3px 8px; background-color: rgb(203, 152, 247); color: white; cursor: pointer; } 

.tool-button:hover { scale: 1.05; } 
.contents-container { max-width: 1280px; width: 94%; margin: 3px auto 0 auto; padding: 20px 0px 0px 20px; border-top: 1px solid rgb(195, 195, 195); border-bottom: 1px solid rgb(195, 195, 195); } 
.contents-title { font-size: 25px; font-weight: 600; padding-left: 15px; } 
.contents { width: 100%; height: 200px; } 

.contents p { padding-top: 80px; padding-left: 15px; } 

.contents-bottom { width: 96%; display: flex; justify-content: end; align-items: center; gap: 20px; margin: 0 auto; padding-bottom: 15px; } 
.thumbs-up,
.thumbs-down { border: none; outline: none; background-color: white; cursor: pointer; } 
.hello:hover { scale: 1.3; color: blue; } 
.hello:focus { scale: 1.3; color: blue; } 
.hello:active { scale: 1.3; color: blue; } 
.comment-container { max-width: 1280px; width: 98%; margin: 0 auto; } 
.content-line { margin: 0 auto; max-width: 1280px; width: 85%; border-bottom: 1px solid rgb(224, 224, 224); } 
/* 끝선맞추기 물어볼거 */
.comment-logOut { border: 1px solid rgb(240, 240, 240); width: 96%; height: 80px; margin: 10px auto 0 auto; border-radius: 10px; display: flex; justify-content: start; align-items: start; } 
.comment-profile { border-radius: 50%; width: 30px; height: 30px; display: flex; justify-content: center; align-items: center; background-color: rgba(214, 214, 214, 0.5); margin: 10px 15px 0px 10px; } 

.comment-contants { margin-top: 15px; font-size: 14px; color: rgb(195, 195, 195); } 
.comment-contants p { padding-left: 17px;} 

.need-login { color: rgb(41, 131, 213); } 
.comment-login { border: 1px solid rgb(240, 240, 240); width: 96%; height: 80px; margin: 10px auto 0 auto; border-radius: 10px; display: none;} 
.commet-login-up { display: flex; justify-content: start; align-items: start; } 
.comment-login-down { display: flex; justify-content: end; align-items: end; } 
.login-comment-contants { width: 70%; height: 80px; } 
#comment-textarea { padding: 10px 20px; width: 100%; height: 80%; border: none; } 
.registration { margin-top: 5px; border: none; outline: none; padding: 5px 15px; font-size: 12px; background-color: rgba(161, 109, 246, 0.5); color: rgb(239, 239, 239); cursor: pointer; } 

.commentss{ border: 1px solid rgb(240, 240, 240); width: 96%; height: 80px; margin: 10px auto 0 auto; border-radius: 10px; width:100%} 