<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/header.css" />
    <link rel="stylesheet" href="/static/styles/reset.css"/>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <script src="https://kit.fontawesome.com/5a10cda3a0.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
<header class="page-header">

    <div class="inner">
        <div class="logo">
            <img src="/static/images/logo.png" alt="star" width="50" height="50" />
        </div>
        <div class="gnb">
            <ul class="menu">
                <li>
                    <a href="/">홈</a>
                </li>
                <li>
                    <a href="/">카테고리</a>
                </li>
                <li>
                    <a href="/">공지사항</a>
                </li>
                <li>
                    <a href="/">FAQ</a>
                </li>
            </ul>
        </div>
            <ul class="util">
                <li>
                  <i class="fa-solid fa-moon"></i>
                </li>
                <li>
                    <i class="fa-solid fa-right-from-bracket"></i>
                </li>
                <li>
                    <i class="fa-solid fa-user"></i>
                </li>
                <li class="search-bar">
                    <i class="fas fa-search"></i>
                    <input class="search" type="text" placeholder="질문을 검색해보세요."></input>
                </li>
            </ul>
     
    </div>
</header>