<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/common/header.css" />
    <link rel="stylesheet" href="/static/styles/common/footer.css"/>
    <link rel="stylesheet" href="/static/styles/common/reset.css"/>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://kit.fontawesome.com/5a10cda3a0.js" crossorigin="anonymous"></script>
    
    <title>GENESIS</title>
</head>
<body>
  <div class="page-container">
    <%- include('./_layouts/header') %>
    <div class="content">
        <%- include('./Post/index') %>
    </div>
    
    <footer>
        <%- include('./_layouts/footer') %>
    </footer>
    <script>
      $(document).ready(function() {
          $(".hamburger-bar").click(function() {
              $("#menu, .page_cover").addClass("open");
          });

          $(".page_cover, .close").click(function() {
              $("#menu, .page_cover").removeClass("open");
          });

    //       // 로그인 상태에 따른 로그아웃 버튼 표시 여부 설정
    //     const accessToken = document.cookie.split('; ').find(index => index.startsWith('accessToken='));
    //     const logoutBtn = $('.logoutbtn');

    //     if (accessToken) {
    //         const tokenValue = accessToken.split('=')[1].trim();
    //         if (tokenValue && tokenValue.startsWith('Bearer ')) {
    //             logoutBtn.css("color", "red");
    //         }
    //     } else {
    //         logoutBtn.hide(); // 버튼 숨기기
    //     }

    //    // 로그아웃 구현
    //     logoutBtn.on('click', async () => {
    //         try {
    //             const res = await fetch('/api/users/logout', {
    //                 method: "POST",
    //                 credentials: 'include',
    //             });
    //             if (res.ok) {
    //                 logoutBtn.hide(); // 버튼 숨기기
    //                 alert('로그아웃 성공입니다.');
    //                 location.href = '/'; // 홈으로 리다이렉션
    //             } else {
    //                 alert('로그아웃에 실패했습니다.');
    //             }
    //         } catch (error) {
    //             console.error('로그아웃 중 오류 발생:', error);
    //             alert('로그아웃 중 오류가 발생했습니다.');
    //         }
    //     });
     });
  </script>
</div>
</body>
</html>
