.content {
  margin-top: 120px;
  margin-bottom: 80px;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.faq-container {
  width: 100%;
}

.faq-description {
  margin-bottom: 50px;
  
}

.faq-description h2 {
  font-size: 32px;
  color: #000000;
}

/* .faq-container {
  padding: 24px 16px;
} */

.faq-list {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  border-top: 1px solid #D3D3D3;
  padding: 20px 0;
}

/* .faq-list li:not(:last-child) {
  border-bottom: 1px solid #D3D3D3;
} */

.faq summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;
  cursor: pointer;
}


summary::marker {
  content: none;
}

.question {
  padding-right: 4px;
  color: #2B3AA7;
}


.faq-answer {
  padding: 8px 16px 16px 16px;
  color: #848484;
  font-size: 16px;

}


details[open] summary i.fa-angle-down {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.faq-link {
  border-bottom: 1px solid #2B3AA7; /* 두께와 색상을 지정한 밑줄 */
  display: inline-block; 
  color: #2B3AA7;
}

@media screen and (max-width: 768px) {
  /* 아이콘을 숨기는 부분 */
  .faq summary i {
    display: none; /* 아이콘 숨김 */
  }

  /* faq-answer 영역에 배경색 추가 */
  .faq-answer {
    background-color: #f5f7fa; /* 원하는 배경색 설정 */
    border-radius: 8px; /* 모서리 둥글게 */
    padding: 16px; /* 내용과의 간격 */
  }

  .faq summary {
    padding: 24px 16px;
    line-height: 1.5; /* 줄간격 조정 */
  }
}