 /* 전체 페이지가 화면을 가득 채우게 */
 html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  /* 페이지 컨테이너 */
  .page-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  /* 컨텐츠가 페이지의 나머지 부분을 차지하게 */
  .content {
    flex: 1;
    padding: 20px;
  }
  
  /* footer를 하단에 고정 */
  .footer {
  
    width: 100%;
    padding: 30px 60px;
    border-top: 1px solid #bdbdbd;
  }
  .footer-inner{
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .top{
    display: flex;
    align-items: center;
 }
 .f-logo{
  width:95px;
 }
 .f-logo img{max-width: 100%;}
  .footer-inner .menu{
    display: flex;
    gap:30px;
    margin-left:80px;
  }
  .bottom{
    color:#A3A3A3;
    gap:5px;
    display: flex;
    flex-direction: column;
  }
  .bottom span{
    margin: 0 15px;
  }
  .bottom .address{

    display:flex;
   
  }
  .addr{
    gap:4px;
  }



  @media screen and (max-width:758px){
        .footer{
          padding:15px;
        }
        .footer-inner {
            gap: 10px; /* 간격을 줄여서 좁은 화면에 맞게 */
        }
        .bottom .address {
            flex-direction: row; /* 가로 배치 */
            align-items: flex-start; /* 위쪽 정렬 */
            gap: 5px;
            flex-wrap: wrap; /* 줄이 길면 다음 줄로 넘어가도록 처리 */
        }
        .bottom span {
            display: none; /* 758px 이하에서는 구분선으로 쓰던 span을 없앰 */
        }
        .footer-inner .top {
            /* flex-direction: column; */
            display: block;
             /* 메뉴를 세로로 나열 */
            gap: 10px;
        }
        .footer-inner .menu{
            margin:10px 0;
            gap:4px;
        
        }
        /* .footer-inner .menu li{
            display: flex;
            flex-wrap: nowrap;
        } */
        .footer-inner .menu a {
            font-size: 12px; /* 글씨 크기를 줄여서 공간 확보 */
        }
    
        /* 폰트 크기 조정 */
        .bottom dt, .bottom dd, .bottom p {
            font-size: 12px; /* 작은 화면에서 가독성을 유지할 수 있게 크기 줄이기 */
        }

        .f-logo{
          display:block;
          width:50px;
        }
  }