
#login-wrap{

   padding:0 20px;
   display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}
#login-wrap #wrap-contents{
    margin:180px auto;
    width:500px;
    
    height:auto;
    display: flex;
    align-items: center;
   
    justify-content: center;

}
#login-wrap #form .input{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.Title{
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size:40px;
}
.input{
    margin-top:50px;
}
#form input{
    padding:10px;
    width: 352px;
    border-radius: 8px;
    border:1px solid #c3c3c3;
}
.TextInput{
    margin-top:20px;
}
.btn{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top:50px;
}

.btn button{
    padding:10px;
    border:none;
    border-radius: 8px;
}

.loginBtn{
    background-color: #7B0CBF;
    color:white;
}
.signUpBtn{
    background-color: #606060;
    color:white;
}
.finds{
 
    display: flex;
    gap:60px;
    margin-top:32px;
    justify-content: center;
}
.findBtn{
    border: none;
    background-color: white;
   gap:20px;
}
.findBtn a{
    color:gray;

}

@media screen and (max-width:373px){
    #login-wrap {
        padding:0;
    }
    #login-wrap #wrap-contents{
        width:100%;
    }
    /* #login-wrap #form .completeBtn{
        width: 100%;
    } */
}