.content {
  margin-top: 120px;
  margin-bottom: 80px;
}

.inner.pc {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.notice-container {
  width: 100%;
}

.notice-description {
  margin-bottom: 50px;
}

.notice-description h2 {
  font-size: 32px;
  color: #000000;
}


.notice-list li:not(:last-child) {
  border-bottom: 1px solid #D3D3D3;
}




.notice-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px 16px;
  color: #000000;
}

.notice-link:hover {
  background: #F5F5F5;
  border-radius: 10px;
  width:100%
}

.title-area {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.notice-label {
  background-color: #2B3AA7;
  padding: 5px 10px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 12px;
  margin-right: 10px;
  white-space: nowrap;
}

.notice-title {
  flex-grow: 1;
  font-size: 20px;
  color: #000000;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.notice-date {
  font-size: 16px;
  color: #A6A6A6;
  margin-top: 16px;
  margin-left: 50px;
}

/* @media screen and (min-width: 769px) {
  .header .inner.mobile {
      display: none;
  }
}
@media screen and (max-width: 768px) {
  .header .inner.pc {
      display: none;
  }
} */
