#signUp-wrap{

    padding:0 20px;
    display: flex;
    flex-direction: column;
     align-items: center;
     justify-content: center;
     margin: 0 auto;
     
 }
 #wrap-contents{
     margin:180px auto;
     width:500px;
     
     height:auto;
     display: flex;
     align-items: center;
    
     justify-content: center;
     gap:10px;
 
 }
 
 .Title{
    margin: 0 auto;
    text-align: center;
    font-size:35px;
}
#signUp-wrap #form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
 #form .input{
    display: flex;
    flex-direction: column;
    gap:10px;
}
#form input{
    padding:10px;
    width: 352px;
    border-radius: 8px;
    border:1px solid #c3c3c3;
}

#signUp-wrap #form .completeBtn{
    height:40px;
    background-color:#7E0DBD;
    background-color: gray;
    border:none;
    border-radius: 8px;
    color:#fff;
    width:352px;
}
.TextInput{
    margin-top:5px;
}

.hide {
    display: none;
    }

#form .msg{
    font-size:13px;
    color:red;
}

@media  screen and (max-width:768px) {
    #signUp-wrap #form{
        margin: 0 auto;
    }
}

@media screen and (max-width:373px){
    #signUp-wrap {
        padding:0;
    }
    #signUp-wrap #wrap-contents{
        width:100%;
    }
    #signUp-wrap #form .completeBtn{
        width: 100%;
    }
}