#wrap{

    padding:0 20px;
    display: flex;
    flex-direction: column;
     align-items: center;
     justify-content: center;
     margin: 0 auto;
     width: 100%; /* 부모 요소에 100% 설정 */
    max-width: 1200px; /* 최대 너비 설정 */
     
 }
 #wrap-contents{
     margin:120px auto;
     height:auto;
     display: flex;
     align-items: center;
    
     justify-content: center;
     gap:30px;
     width: 100%; /* 부모 요소에 맞춰서 중앙 정렬 */
 
 }
 #questionForm{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%; /* 폼 자체가 화면에 맞춰 크기 조절 */
    max-width: 1069px; /* 최대 너비 설정 */
 }
 #questionForm .title{
    text-align: center;
    font-size:1.5rem;
 }

 #questionForm  .form-container   {   
 padding: 20px 20px;
 display: flex;
 flex-direction: column;
 gap: 20px;
 }
 #questionForm input{
    border: 1px solid lightgray;
 }
 #questionForm .TextInputSet{
    margin-top:20px;
 }
#questionForm #title{
   width:100%;
    padding:10px;
    border-radius:10px;
    max-width: 1069px;

}
#questionForm #content{
    width:1069px;
   width: 100%;
    padding:10px;
    height:auto;
    min-height: 240px;

    border: 1px solid lightgray;
    border-radius:10px;
}
#questionForm .TextInput{
    margin-top:20px;
}
.categoryBtn{
    display: flex;
    gap:20px;
}
.categoryBtn button{
    border:none;
    width:82px;
    height:30px;
    border-radius: 8px;

}
.categoryBtn button a{
text-decoration: none;
color:black;
}

/* #questionForm .completeBtn{
    width:400px;
    padding:10px;
    margin:20px auto;
    background-color: #7B0CBF;
    border:none;
    border-radius:8px;
    color:white;
} */

#questionForm .completeBtn {
    width:400px;
    padding:10px;
    margin:20px auto;
    background-color: gray; /* 초기 색상 */
    cursor: not-allowed; /* 비활성화 상태일때?  */
    color: white;
    border-radius:8px;
    border: none; 
}
 /* 비활성화된 버튼 */
.completeBtn:disabled {
    background-color: gray;
    cursor: not-allowed;
}


#questionForm .hide{
    display:none;
}
.contentMsg, .titleMsg{
    font-size:12px;
    color:red;
    margin-top:5px;
}

.contentMsg{
    display: flex;
    justify-content: flex-end;
}
@media screen and (max-width:373px) {
    #questionForm #title,#content{
        width:100%;      
    
   }
   #questionForm .completeBtn{
    width: 100%;
   }
    .categoryBtn {
      display: block;
       
    }
    .content{
        padding:0;
    }
   
}