<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles/notice.css" />
  <link rel="stylesheet" href="/static/styles/reset.css"/>
  <title>공지사항</title>
</head>
<body>
  <div class="wrap">
    <div class="notice-description">
    <h2>공지사항</h2>
    </div>
    <div class="notice-container">
      <ul>
        <li class="notice">
          <a href="#" class="notice-link">
            <div class="title-area">
            <span class="notice-label">공지</span>
            <span class="notice-title">[공지]공지입니다 빼용빼용</span>
            </div>
            <span class="notice-time">약 2초 전</span>
          </a>
        </li>

        <li class="notice">
          <a href="#" class="notice-link">
            <div class="title-area">
              <span class="notice-label">공지</span>
              <span class="notice-title">[업데이트]공지입니다 빼용빼용</span>
            </div>
            <span class="notice-time">24.09.01</span>
          </a>
        </li>

        <li class="notice">
          <a href="#" class="notice-link">
            <div class="title-area">
              <span class="notice-label">공지</span>
              <span class="notice-title">공지입니다 빼용빼용</span>
            </div>
            <span class="notice-time">24.09.01</span>
          </a>
        </li>

        <li class="notice">
          <a href="#" class="notice-link">
            <div class="title-area">
              <span class="notice-label">공지</span>
              <span class="notice-title">공지입니다 빼용빼용</span>
            </div>
            <span class="notice-time">24.09.01</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

</body>
</html>